* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5{
  font-family: "Raleway", sans-serif;
  margin: 0 0 15px;
  color: #000000;
  font-weight: 500;
}

.carousel-inner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.navbar {
  background-color: #000 !important;
}

.navbar-brand img {
  height: 50px;
  width: auto;

}

.navbar-nav .nav-item {
  position: relative;
}

.navbar-nav .nav-item::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: width 0.5s ease, opacity 0.5s ease;
}

.navbar-nav .nav-item:hover::after {
  width: 70%;
  opacity: 1;
}

/* Responsive adjustments */
@media (max-width: 991px) {
  .navbar-nav .nav-item::after {
    display: none;
  }
}

.my-3 {
  background-color: #fff;
}





.dropdown-menu {
  background-color: #000;
}

.dropdown-menu a {
  color: #fff;
}

.dropdown-menu a:hover {
  background-color: #cc9b25;
  color: #fff;
}


.contact-section {
  background: linear-gradient(180deg, rgba(83, 60, 2, 0.6) 0%, rgba(204, 155, 37, 0.9) 100%);
  padding: 100px 0;
  margin-top: 70px;
}

.contact-section h1 {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 0;
}


.map {
  padding-top: 50px;

}

.container-fluid {
  padding: 60px 40px;
}

.bg-grey {
  background-color: #f6f6f6;
}

.send-message-btn {
  background-color: #cc9b25;
  color: #fff;

}

.send-message-btn:hover {
  background-color: #000;
}

.send-message-btn.clicked {
  background-color: #000;
}

.btn-primary {
  color: #fff;
  background-color: #cc9b25;
  border-color: #000;
}


@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.contact-form h3 {
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
}

.contact-form .form-control {
  margin-bottom: 20px;
}

.send-message-btn {
  background-color: #cc9b25;
  color: #fff;
}

.send-message-btn:hover {
  background-color: #000;
}

.send-message-btn.clicked {
  background-color: #000;
}